body {
  background-color: var(--black);
  color: var(--white);
}

//section공통요소
section {
  padding: 40px;
  @media (max-width: 800) {
    padding: 20px;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    em {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 50%;
        background-color: var(--red);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 30px;
      }
    }
  }
}

//section 로딩요소
.isLoading {
  opacity: 0;
  transition: 0.5s;
}
.isLoaded {
  opacity: 1;
  transition: 0.5s;
}
//마우스 오버 아이콘

.play_icon {
  a {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--blackAlpah200);
      position: absolute;
      left: 0;
      top: 0;
      transition: background-color 0.3s;
    }
    &:hover::before {
      background-color: var(--blackAlpah);
    }
    &::after {
      content: "";
      width: 80px;
      height: 80px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: opacity 0.3s;
    }
    &:hover::after {
      background: var(--blackAlpah400) url(../../img/icon/play.svg) no-repeat
        center;
      opacity: 1;
    }
  }
}
